<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bank/main.css' %}">
<link rel="stylesheet" href="{% static 'bank/reset.css' %}">
</head>
<body>
<div class = "container">
    <header>
        {% block header %}
            <h1>Dank Bank <i>'Where dreams become reality!'</i></h1>
        {% endblock %}
    </header>

    <div class="nav">
      <ul>
        {% block nav %}
        {% endblock %}
        <li class="jump"><a href="/bank/">Bank Portal</a></li>
        <li class="jump"><a href="/users/home/">User Portal</a></li>
        <li class="jump"><a href="/users/">Log Out</a></li>
      </ul>
    </div>

    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        Dank Bank©
        {% endblock %}
    </footer>
</div>
</body>
</html>