{% extends "bank/base.html" %}

{% block content %}
	{% for account in accounts %}
		<br></br><li>Account Type: {{account.type_of}}</li>
		<li>Account number: {{account.account.number}}</li>
		<li>Account Balance: ${{account.account.balance}}</li><br></br>
	{% empty %}
	No accounts, yet.
	{% endfor %}
	{% if accounts %}
    	<form name="companies" action="/bank/deposit/" method="POST">
    	{% csrf_token %}
    		<h3>What shall we deposit today?</h3>
    			<p>Please enter the account number</p>
    				<input name="account" type="text"> 
    			<p>Please enter the amount</p>
    				<input name="amount" type="text"> 
    		<input type="submit" value="Deposit">
    	</form>   
    {% endif %}
{% endblock %}