<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'stocks/main.css' %}">
<link rel="stylesheet" href="{% static 'stocks/reset.css' %}">
<body>
    <header>
        {% block header %}
            <h1>Stock Portal</h1>
        {% endblock %}
    </header>
    <div class="nav">
      <ul>
        <!-- Make href a variable that is set to the previous page -->
        <li><a href="/users/">User Home</a></li>
        {% block nav %}
        {% endblock %}
      </ul>
    </div>
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        {% block footer %}
        <h1>StockPortal©</h1>
        {% endblock %}
    </footer>
</div>
</body>
</html>