{% extends "stocks/base.html" %}
{% block content %}
    {% if stock_quote %}
        <table id="results">
            {% for key,value in stock_quote.items %}
                {% if forloop.first %}
                    <tr>
                        <th>Category</th>
                        <th>Value</th>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <form name="search" action="/stocks/quote/" method="POST">
            {% csrf_token %}
            Stock Symbol: <input type="text" name="symbol"><br></br>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
{% endblock %}